.item-list {
    margin: 24px 0;
}
.item-list >  h3 > a{
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
    text-transform: capitalize;
    text-decoration: none;
}
.item-list >  h3 > a:hover{
    text-decoration: underline;
}

.item-list >  p {
    color: #999999;
    font-size: 12px;
    margin: 24px 0;
}